* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 100vh;
}

.nav {
    margin-bottom: 7px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    position: sticky;
    text-align: right;
}

.nav-link {
    margin-right: 13px;
}

.nav-link a {
    font-size: large;
    color: white;
    text-decoration: none;
    margin-inline: 10px;
    padding-inline: 12px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 5px;
}

.nav-link a:hover {
    background-color: #555;
    color: red;

}

.brand {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 5px;
    margin-bottom: 40px;
}

.bi {
    padding-left: 12px;
    padding-top: 5px;
    color: red
}

.b {
    color: red;
    margin: 0px;
    padding-left: 8px;
    padding-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.side {
    position: relative;
    top: -80px;
    height: 100vh;
    margin-right: 1020px;
    background-color: rgba(22, 22, 22, 255);
}

.side-link{
    padding-top: 6px;
    padding-left: 50px;
    padding-right: 50px;
}
.side-link a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin:5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.side-link a:hover {
    background-color: #555;
    color: red;
}

hr{
    border: 0.5px solid rgba(22, 22, 22, 255);
}
label{
    color: white;
}
input{
    border: 2px solid #3498db;
    border-radius: 24px;
    margin: 10px auto;
    padding: 3px 14px;
    position: relative;
    left: 20px;
}
#myForm{
    text-align: center;
}
h2{
    color: white;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 15px;
}
button{
    color: white;
    background-color: rgba(22, 22, 22, 255);
    margin-top: 10px;
    margin-bottom: 30px;
    padding-inline: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #45da83;
    border-radius: 24px;
}
button:hover{
    background-color: #45da83;
    cursor: pointer;
}
p{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    word-spacing: 2px;
    line-height: 1.6;
}
.container{
    background-color: rgba(22, 22, 22, 255);
    margin-right: 700px;
    padding-bottom: 110px;
    position: relative;
    top: -560px;
    left: 480px;
}